.link {
    margin-top: 20px;
    display: flex;
    gap: 30px;
}

.container_movie_details_page {
    margin-top: 40px;
}

.img {
    width: 450px;
    height: 600px;
    object-fit: cover;
}


.txtContainer {
    margin-top: 12px;
}

.cast {
    margin-right: 12px;

}

.cast:hover {
    color: rgb(255, 255, 255)
}

.reviews:hover {
    color: rgb(255, 255, 255)
}